#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callouts_iner
    .wrapper
      .callout
        %h2 Organize
        %p Lorem ipsum dolor amet cornhole subway tile succulents listicle mixtape chicharrones squid. Gochujang biodiesel kale chips bicycle rights williamsburg vape. Fanny pack cliche pop-up kale chips street art succulents keytar retro blog skateboard truffaut echo park next level. Vape cardigan kombucha iceland leggings organic man bun heirloom paleo semiotics. You probably haven't heard of them pickled sartorial polaroid, coloring book godard craft beer 3 wolf moon tattooed bushwick tbh venmo. Kitsch intelligentsia woke raclette shabby chic flannel. Poke fanny pack roof party semiotics messenger bag cred cardigan kogi kale chips activated charcoal.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
